<!DOCTYPE html>

<head>
	<title>Genes</title>
	<style>
		.genes{
			background-color: aliceblue;
			color: darkgreen;
			font-family: 'Courier New', Courier, monospace;
			padding: 1%;
			width: max-content;
		}
		h1{
			background-color: black;
			color: blanchedalmond;
			font-family: 'Courier New', Courier, monospace;
			padding: 1%;
			font-size: 400%;
			text-align: center;
		}
		p{
			padding: 1%;
		}
	</style>
</head>

<body>
	<div>
		<h1>Genes</h1>
	</div>
	<div class="genes">
		{% for genes in orfs %}
			<p>{% for el in genes %}
				{{el}}<br>
			{% endfor %}</p>
		{% endfor %}
	</div>
</body>

</html>